<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field form-group ">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control', placeholder:"first_name" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control', placeholder:"last_name"  %>
  </div>

  <div class="field form-group">
    <%= form.label :phonenumber %>
    <%= form.text_field :phonenumber, class: 'form-control', placeholder:"phonenumber"  %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' , placeholder:"email"  %>
  </div>

  <div class="field form-group">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, class: 'form-control', placeholder:"company_name"  %>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit class: 'btn btn-dark' %>
  </div>
<% end %>

