<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">
  <%= @client.first_name %>
  <%= @client.last_name %>
  </h1>
  <p class="lead"><%= @client.phonenumber %></p>
  <hr class="my-4">
  <p><%= @client.email %></p>
  <hr class="my-4">
  <h1 class="display-4">
  <%= @client.company_name %>
  </h1>
  <p class="lead">
  <%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-secondary' %> 
  <%= link_to 'Back', clients_path, class:'btn btn-dark'  %>
  </p>
</div>
 
